body {
  background-color: #dadada;
  font-size: 10px;
}
@media screen and (min-width: 575px){
  .preview {
    float: left;
    width: 50%;
}
@media screen and (min-width: 1200px){
  .preview {
    float: left;
    width: 25%;
}
